/* General */

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #676857;
    font-weight: 300;
}

.container {
    padding: 15px;
}

/* Header */

h1 {
    font-size: 40px;
}

hr {
    height: 3px;
    background-color: #bcbcbc;
    margin: 10px 0 20px 0;
}

/* Content */

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

h3 {
    margin: 10px 0 5px 0;
}

p {
    margin: 10px 0;
}

.text-muted {
    color: #bcbcbc;
}

.img-centered {
    display: block;
    margin: 0 auto;
}

.project-url {
    margin-top: 0;
}

/* Modals */

.modal {
    color: black;
}

.modal-header {
    padding: 5px;
    border-bottom: 0;
}

.modal-body {
    padding: 5px 10px;
}

.modal-footer {
    border-top: 0;
    padding-top: 0;
}

/* Media Queries */

@media screen and (max-width: 992px) {
    .col-sm-6 {
        margin-bottom: 20px;
    }

    .col-sm-6:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        margin-top: 25px;
        font-size: 30px;
    }

    h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        margin-top: 28px;
        font-size: 25px;
    }

    h4 {
        font-size: 15px;
    }

    .project-url {
        font-size: 13px;
    }
}

@media screen and (max-width: 380px) {
    h1 {
        margin-top: 20px;
        font-size: 20px;
    }

    h4 {
        font-size: 14px;
    }

    .project-url {
        font-size: 11px;
    }
}
